@model IEnumerable<RiskRegisterII.Models.ComplaintRegister>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />
<h3>Complaint Register</h3>
<br/>
<p>
    <a asp-action="Create">Create New</a>
</p>
<br /><br />
<table class="table">
    <thead>
        <tr>
            <th hidden>
            @Html.DisplayNameFor(model => model.Id)
        </th>
            <th>
                @Html.DisplayNameFor(model => model.NameofClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactPerson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReceived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th>
                Actions
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Status)
        </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td hidden>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameofClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReceived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            @*<td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
        }
    </tbody>
</table>
