@model IEnumerable<RiskRegister.Models.RiskType>

@{
    ViewData["Title"] = "RiskTypes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RiskTypes</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th hidden>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th hidden>
                    @Html.DisplayNameFor(model => model.ViewId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td hidden>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td hidden>
                @Html.DisplayFor(modelItem => item.ViewId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new {  id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new {  id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
