@model IEnumerable<RiskRegisterII.Models.ErrorRegisterModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<h3>Error Register</h3>
<br /><br />

<p>
    <a asp-action="Create"><b>Create New</b> </a>
</p>
<br /><br />
<table class="table">
    <thead>
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ErrorType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Narration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Officer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ErrorStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            <th>
               Actions
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.RiskTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentId)
        </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ErrorType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Narration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Officer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ErrorStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remark)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.RiskTypeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentId)
                    </td>*@
                <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                    @Html.ActionLink("Details", "Details", new {  id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
