@model IEnumerable<RiskRegisterII.Models.ViewModels.RegisterRiskVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Risk Register</h3>
<br/>
<p>
    <a asp-action="Create">Create New</a>
</p>
<br/>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Activity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RiskTypeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InherentRisk)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mitigants)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LoggedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Activity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RiskTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InherentRisk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mitigants)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoggedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
